
.spacing {
  padding: var(--spacing);
}
.spacing--inline {
  display: inline-block;
}
.spacing--sm {
  padding: var(--spacing-small);
}
.spacing--left-sm {
  padding-left: var(--spacing-small);
}
.spacing--lg {
  padding: var(--spacing-large);
}

.spacing--bottom-sm {
  padding-bottom: var(--spacing-small);
}

.spacing--bottom {
  padding-bottom: var(--spacing);
}

.spacing--bottom-lg {
  padding-bottom: var(--spacing-large);
}

.spacing--bottom-xl {
  padding-bottom: var(--spacing-xlarge);
}

.spacing--top-lg {
  padding-top: var(--spacing-large);
}
